@font-face {
  font-family: 'CustomTextFont';
  src: url("../fonts/CustomTextFont/OppoSansE.woff2") format('woff2');
  font-weight: semibold;
  font-style: normal;
}
@font-face {
  font-family: 'CustomCodeFont';
  src: url("../fonts/CustomCodeFont/MsYHMono.woff2") format('woff2');
  font-weight: normal;
  font-style: normal;
}
