@font-face {
  font-family: 'OPPOSans';
  src: url("../fonts/oppo/OPPO Sans 4.0.ttf") format('truetype');
  font-weight: semibold;
  font-style: normal;
}
@font-face {
  font-family: 'JetBrainsMono';
  src: url("../fonts/jetbrains/XHei_Ubuntu-Mono.ttc") format('truetype');
  font-weight: normal;
  font-style: normal;
}
