---
import { Button, Collapse, Spoiler, Timeline } from 'astro-pure/user'
import PageLayout from '@/layouts/CommonPage.astro'
import Substats from '@/components/about/Substats.astro'
import ProjectCard from '@/components/home/ProjectCard.astro'
import ToolSection from '@/components/about/ToolSection.astro'

const headings = [
  { depth: 2, slug: 'about-me', text: '关于我 About Me' },
  { depth: 2, slug: 'social-networks', text: '社交网络 Social Networks' },
  // { depth: 2, slug: 'gossips', text: 'Gossips' },
  { depth: 2, slug: 'about-blog', text: '关于本博客 About Blog' }
]
---

<PageLayout title='关于 About' {headings} comment>
  {/* about-me */}
  <h2 id='about-me'>关于我 About Me</h2>
<p>
  你好，我是北，软件工程学生，爱好是音乐制作。<Spoiler>以及看动漫和睡觉。</Spoiler>
  <br />
  愿望是能找到最热爱的事，然后一直做下去。<Spoiler>但愿。</Spoiler>
</p>


  {/* social-networks */}
  <h2 id='social-networks'>社交网络 Social Networks</h2>
  <p>
    我活跃的平台（其实也并不活跃）
  </p>
  <Substats
    stats={[
      {
        platform: 'Bilibili',
        icon: 'bilibili',
        color: '#2ca5e0',
        link: 'https://bilibili.com/37599416',
        text: 'subscribers',
        api: 'bilibili/37599416'
      },
      {
        platform: 'Netease Cloud Music',
        icon: 'netease',
        color: '#ee3333',
        link: 'https://music.163.com/user?id=400480622',
        text: 'listeners',
        api: 'neteasemusic/400480622'
      }
    ]}
  />
  <!-- {/* gossips */}
  <h2 id='gossips'>碎碎念</h2>
  <Collapse title='只是碎碎念'>
    失业了。
  </Collapse> -->

  {/* about-blog */}
  <h2 id='about-blog'>关于本博客 About Blog</h2>
  <ul>
    <li>
      框架 & 主题: <a href='https://astro.build/' target='_blank'>Astro</a> + <a
        href='https://github.com/cworld1/astro-theme-pure'
        target='_blank'>Astro Theme Pure</a
      >
    </li>
    <li>
      部署: <a href='https://github.com/' target='_blank'>GitHub</a>
    </li>
    <li>
      CI/CD: <a href='https://vercel.com/workflow' target='_blank'>Vercel Workflow</a>
    </li>
    <li>评论系统: <a href='https://waline.js.org' target='_blank'>Waline</a></li>
    <li>
      访问量: <a href='https://supabase.com/' target='_blank'>Supabase</a> +
      <a href='https://waline.js.org/' target='_blank'>Waline</a>
    </li>
    <li>
      其他统计信息: <a href='https://github.com/spencerwooo/substats' target='_blank'
        >Substats</a
      >
    </li>
  </ul>
</PageLayout>
