// 本地字体定义
@font-face
  font-family 'OPPOSans'
  src url('../fonts/CustomTextFont/OppoSansE.woff2') format('woff2')
  font-weight medium
  font-style normal

@font-face
  font-family 'WenKaiMono'
  src url('../fonts/CustomCodeFont/WenKaiMono-Medium.woff2') format('woff2')
  font-weight normal
  font-style normal