---
import { Image } from 'astro:assets'

import { Button, Collapse, Icon } from 'astro-pure/user'
import PageLayout from '@/layouts/CommonPage.astro'
import ProjectSection from '@/components/projects/ProjectSection.astro'
import Sponsors from '@/components/projects/Sponsors.astro'
import Sponsorship from '@/components/projects/Sponsorship.astro'
import alipay from '@/assets/alipay-qrcode.jpg'
import KeyIcon from '@/assets/icons/key.svg'
import wechat from '@/assets/wechat-qrcode.jpg'

const headings = [
  { depth: 2, slug: 'programs', text: '项目 Projects' },
  { depth: 2, slug: 'sponsorship', text: '打赏 Sponsorship' }
]
---

<PageLayout title='项目Projects' {headings} view>
  {/* About astro-pure */}
  <p>Github Activities:</p>
  <p>
    <Image
      src='https://ghchart.rshah.org/659eb9/beiboogie'
      alt='github activities'
      inferSize
      loading='lazy'
    />
  </p>

  <h2 id='programs'> </h2>
  <ProjectSection
    projects={[
      {
        name: '🎹 TinyKeys',
        description: '一款适用于 Windows 的轻量级、低延迟、命令行同构键盘合成器。',
        links: [
          { type: 'github', href: 'https://github.com/beiboogie/TinyKeys' },
          { type: 'site', href: 'https://beiboogie.github.io/TinyKeys/' },
          { type: 'doc', href: 'https://github.com/beiboogie/TinyKeys/blob/main/QuickStart.md' },
          { type: 'release', href: 'https://github.com/beiboogie/TinyKeys/releases' }
        ]
      }
    ]}
  />
  <h2 id='sponsorship'>Sponsorship 打赏</h2>
  <p>微信 Wechat </p>
  <Sponsorship
    methods={[
      { name: 'WeChat', icon: 'wechat-pay', image: wechat },
      // { name: 'Alipay', icon: 'alipay', image: alipay }
    ]}
  />
    <!-- <p>Thanks to the following sponsors:</p>
  <Sponsors
    progressMax={50}
    sponsors={[
      { name: 'Saneko', platform: 'Wechat', amount: 188, date: '2026-02-25' },
      { name: '边缘星2020', platform: 'Afdian', amount: 20.26, date: '2026-02-17' },
      { name: 'Juyao Huang', platform: 'Wechat', amount: 5, date: '2026-01-15' },
      { name: 'hoochanlon', platform: 'Wechat', amount: 5, date: '2025-11-09' },
      { name: 'Arthals', platform: 'Wechat', amount: 50, date: '2025-11-06' },
      { name: '边缘星2020 (byx2020.com)', platform: 'Alipay', amount: 50, date: '2025-11-01' },
      { name: '小哲', platform: 'Wechat', amount: 50, date: '2025-08-19' },
      { name: 'Open1V', platform: 'Wechat', amount: 2, date: '2025-08-14' },
      { name: 'Luis Xu', platform: 'Alipay', amount: 30, date: '2025-08-03' },
      { name: '顾**', platform: 'Wechat', amount: 28, date: '2025-06-23' },
      { name: 'Hans J.Han', platform: 'Wechat', amount: 10, date: '2025-04-04' },
      { name: '**青', platform: 'Alipay', amount: 12, date: '2024-05-21' },
      { name: 'Anonymous', platform: 'Wechat', amount: 20, date: '2022-04-06' },
      { name: '华雄', platform: 'QQ', amount: 5, date: '2019-12-30' },
      { name: '◌', platform: 'QQ', amount: 3, date: '2019-12-30' },
      // 酷安@暴走の蜗牛
      { name: 'C*a', amount: 2, date: '2019-07-02' }
    ]}
  /> -->
</PageLayout>

<style>
  .sponsorship-card {
    & .sponsorship-card-img {
      opacity: 0.3;
      --un-blur: blur(4px);
      filter: var(--un-blur);
    }

    &:hover {
      & .sponsorship-card-icon {
        opacity: 0;
      }
      & .sponsorship-card-img {
        opacity: 1;
        --un-blur: blur(0);
      }
    }
  }
</style>
